*{
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
}

#register_page_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
}

#logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

#logo p{
    font-size: 24px;
}

#circle{
    background-color: #FFF540;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

#LogIn{
    border-style: none;
    padding: 5.5px 21.5px;
    font-size: 15px;
    border-radius: 8px;
    background-color: white;
    text-decoration: none;
    color: black;
}

#SignIn{
    border-style: none;
    padding: 5.5px 20px;
    background-color: #FFF540;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

#LogIn:hover{
    color: lightgrey;
}

#SignIn:hover{
    background-color: #C3BC40;
}

.landing_page_section_upper_sec_title{
    font-size: 2vmax;
    width: 50%;
    margin-left: 85px;
}




.landing_page_section_lower_img{
    height: 600px;
    width: 1879px;
    overflow: hidden;
    margin-top: 40px;
}

.landing_page_section_lower_icons{
    display: flex;
    margin-left: 100px;
    margin-top: 40px;
}

.landing_page_section_lower_icons img{
    height: 400px;
    width: auto;
}

.landing_page_section_lower_icons div:nth-child(2) img{
    margin-left: 100px;
}

.TODO_Icon_Text{
    display: flex;
}

.TODO_Icon_Text p{
    font-size: 40px;
    font-weight: bold;
}

.Note_Icon{
    display: flex;
}

.Note_Icon p{
    font-size: 40px;
    font-weight: bold;
}

.landing_page_section_upper_sec{
    display: flex;
    justify-content: space-between;
}
