*{
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
}

#register_page_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
}


#logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

#logo p{
    font-size: 24px;
}

#circle{
    background-color: #FFF540;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

#yourNotes_main{
    display: flex;
    justify-content: space-between;
}

#yourNotes_TODO{
    width: 25%;
}

#yourNotes_TODO_Title{
    margin-left: 8px;
}

#yourNotes_TODO_rectangle{
    background-color: lightgrey;
    height: 700px;
    width: 340px;
    border-radius: 8px;
    margin-left: 8px;
    padding: 8px;
}

#add_TODO_button{
    border: None;
    background-color: lightgrey;
    color: rgba(94, 90, 92, 0.88);
}

#add_TODO_button:hover{
    border: None;
    background-color: lightgrey;
    color: black;
}

.TODOdeleteButton{
    border: None;
    background-color: lightgrey;
    color: rgba(94, 90, 92, 0.88);
}

.TODOdeleteButton:hover{
    border: None;
    background-color: lightgrey;
    color: black;
}

#yourNotes_Notes{
    margin-right: 8px;
    width: 75%;
    margin-left: 70px;
}

#yourNotes_Notes_allNotes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -20px;
    margin-top: -20px;
    margin-right:-8px;
}

#example_note{
    border: solid black;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    margin: 20px;
}

#example_note_1{
    border: solid black;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    margin: 20px;
}

#example_note_2{
    border: solid black;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    margin: 20px;
}

#example_note_3{
    border: solid black;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    margin: 20px;
}

#example_note_4{
    border: solid black;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    margin: 20px;
}

#example_note_5{
    border: solid black;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    margin: 20px;
}

#add_Note_button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    align-self: flex-end;
}

#add_Note_button:hover{
    background-color: rgba(207, 202, 204, 0.61);
}


.fa-pen-to-square{
    font-size: 25px;
}