*{
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
}

#register_page_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
}


#logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

#logo p{
    font-size: 24px;
}

#circle{
    background-color: #FFF540;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

#yourNotes_main{
    display: flex;
    justify-content: space-between;
}

#yourNotes_TODO{
    width: 25%;
}

#yourNotes_TODO_Title{
    margin-left: 8px;
}

#yourNotes_TODO_rectangle{
    background-color: lightgrey;
    height: 700px;
    width: 340px;
    border-radius: 8px;
    margin-left: 8px;
    padding: 8px;
}

#add_TODO_button{
    border: None;
    background-color: lightgrey;
    color: rgba(94, 90, 92, 0.88);
}

#add_TODO_button:hover{
    border: None;
    background-color: lightgrey;
    color: black;
}

.TODOdeleteButton{
    border: None;
    background-color: lightgrey;
    color: rgba(94, 90, 92, 0.88);
}

.TODOdeleteButton:hover{
    border: None;
    background-color: lightgrey;
    color: black;
}

#yourNotes_Notes{
    margin-right: 8px;
    width: 80%;
    margin-left: 70px;
}

#yourNotes_Notes_allNotes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -20px;
    margin-top: -20px;
    margin-right:-8px;
    position: relative;
}

#yourNotes_Notes_allNotes_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.note_container{
    border: solid black;
    border-radius: 10px;
    height: 330px;
    width: 350px;
    margin: 20px;
    position: relative;
}

.noteTitle{
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
    white-space: pre-wrap;
    margin: 10px 8px;
    overflow-wrap: break-word;
    word-break: break-word;
    z-index: 2;
    max-height: 97%;
    overflow: hidden;
}

.NoteOptionsButton{
    border: none;
    font-size: 25px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: -3px;
    transition: font-size 0.3s ease;
    z-index: 1;
    background-color: transparent;
}

.NoteOptionsButton:hover{
    font-size: 28px;
}

.NoteOptionsContainer{
    position: absolute;
    top: 6%;
    right: 0;
    display: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    z-index: 3;
}

.NoteOptionsContainer button{
    display: flex;
    justify-content: space-between;
    right: 3%;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: solid 0.5px;
    width: 100%;
}

.NoteOptionsContainer button:hover{
    background-color: lightgrey;
}

.NoteOptionsContainer button:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.NoteOptionsContainer button:last-child{
    margin-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ColorButton{
    display: flex;
    flex-direction: column;
}

.colorContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.colorOption {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.2s;
}

.colorOption:hover {
    transform: scale(1.2);
}

.yellow{
    background-color: #fff36b;

}

.green{
    background-color: #76ff5a;
}

.blue{
    background-color: #3cffff;
}

.pink{
    background-color: #fc83ff;
}


.NoteInput {
    border: none;
    outline: none;
    max-width: 95%;
    margin: 10px 6px;
    max-height: 316px;
    overflow-y: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    resize: none;
}

.NoteInput::-webkit-scrollbar{
    display: none;
}

.NoteInput:focus{
    border: none;
    box-shadow: none;
    font-size: 3rem;
    font-weight: bold;
    height: 325px;
}

#popupContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 90%;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

#popupContainer textarea{
    width: 50rem;
    height: 50rem;
    resize: none;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

#CloseNote{
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 30px;
}

#CloseNote:hover{
    font-size: 35px;
    transition: 0.3s;
}

#add_Note_button{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InputTitle{
    border-style: none;
}

#add_Note_button:hover{
    background-color: rgba(207, 202, 204, 0.61);
}


.fa-pen-to-square{
    font-size: 25px;
}